In [1]:
%pwd

'C:\\Users\\BryanLett\\Documents\\Python Data Science'

In [2]:
foo = %pwd

In [3]:
foo

'C:\\Users\\BryanLett\\Documents\\Python Data Science'

In [5]:
%matplotlib inline

In [6]:
a = [1, 2, 3]

In [7]:
b = a

In [8]:
a.append(4)

In [9]:
b

[1, 2, 3, 4]

In [10]:
a = 5

In [11]:
type(a)

int

In [12]:
a = 'foo'

In [13]:
type(a)

str

In [14]:
'5' + 5

TypeError: must be str, not int

In [15]:
a = 4.5

In [16]:
b = 2

In [17]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [18]:
a / b

2.25

In [19]:
a = 5

In [20]:
isinstance(a, int)

True

In [21]:
a = 5; b = 4.5

In [22]:
isinstance(a, (int, float))

True

In [23]:
isinstance(b, (int, float))

True

In [25]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #not iterable
        return False

In [26]:
isiterable('a string')

True

In [27]:
isiterable([1, 2, 3])

True

In [28]:
isiterable(5)

False

In [29]:
5 - 7

-2

In [30]:
12 + 21.5

33.5

In [31]:
5 <= 2

False

In [32]:
a = [1, 2, 3]

In [33]:
b = a

In [34]:
c = list(a)

In [35]:
a is b

True

In [36]:
a is not c

True

In [37]:
a == c

True

In [38]:
a = None

In [39]:
a is None

True

In [40]:
a_list = ['foo', 2, [4, 5]]

In [41]:
a_list[2] = (3, 4)

In [42]:
a_list

['foo', 2, (3, 4)]

In [43]:
a_tuple = (3, 5, (4, 5))

In [44]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [45]:
ival = 17239871

In [46]:
ival ** 6

26254519291092456596965462913230729701102721

In [47]:
fval = 7.243

In [48]:
fval2 = 6.78e-5

In [49]:
3 / 2

1.5

In [50]:
3 // 2

1

In [51]:
c = """
This is a longer string that
spans multiple lines
"""
len(c.split('\n'))

4

In [52]:
a = 'this is a string'

In [53]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [54]:
b = a.replace('string', 'longer string')

In [55]:
b

'this is a longer string'

In [56]:
a = 5.6

In [57]:
s = str(a)

In [58]:
s

'5.6'

In [59]:
s = 'python'

In [60]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [61]:
s[:3]

'pyt'

In [62]:
s = '12\\34'
print(s)

12\34

In [63]:
s = r'this\has\no\special\characters'

In [64]:
s

'this\\has\\no\\special\\characters'

In [65]:
a = 'this is the first half '

In [66]:
b = 'and this is the second half'

In [67]:
a + b

'this is the first half and this is the second half'

In [68]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [69]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [70]:
val = 'español'

In [71]:
val

'español'

In [72]:
val_utf8 = val.encode('utf-8')

In [73]:
val_utf8

b'espa\xc3\xb1ol'

In [74]:
type(val_utf8)

bytes

In [75]:
val_utf8.decode('utf-8')

'español'

In [76]:
val.encode('latin1')

b'espa\xf1ol'

In [77]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [79]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [80]:
bytes_val = b'this is bytes'

In [81]:
bytes_val

b'this is bytes'

In [82]:
decoded = bytes_val.decode('utf8')

In [83]:
decoded # this is str (Unicode) now

'this is bytes'

In [84]:
True and True

True

In [85]:
False or True

True

In [87]:
a = [1, 2, 3]
if a:
    print('I found something!')

I found something!

In [88]:
b = []
if not b:
    print('Empty!')

Empty!

In [89]:
bool([]), bool([1, 2, 3])

(False, True)

In [90]:
bool('Hello world!'), bool('')

(True, False)

In [91]:
bool(0), bool(1)

(False, True)

In [92]:
s = '3.14159'

In [93]:
fval = float(s)

In [94]:
type(fval)

float

In [95]:
a = None

In [96]:
a is None

True

In [97]:
b = 5

In [98]:
b is not None

True

In [99]:
type(None)

NoneType

In [100]:
from datetime import datetime, date, time

In [101]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [102]:
dt.day

29

In [103]:
dt.minute

30

In [104]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [105]:
dt.date()

datetime.date(2011, 10, 29)

In [106]:
dt.time()

datetime.time(20, 30, 21)

In [107]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [108]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [109]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [110]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [111]:
delta = dt2 - dt

In [112]:
delta

datetime.timedelta(17, 7179)

In [113]:
type(delta)

datetime.timedelta

In [114]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [115]:
a = 5; b = 7

In [116]:
c = 8; d = 4

In [117]:
if a < b or c > d:
    print('Made it!')

Made it!

In [118]:
4 > 3 > 2 > 1

True

In [119]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [120]:
float('1.2345')

1.2345

In [121]:
float('something')

ValueError: could not convert string to float: 'something'

In [122]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [123]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [124]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [125]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
attempt_float((1, 2))

(1, 2)

In [126]:
range(10)

range(0, 10)

In [127]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [129]:
x = 5

In [130]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [131]:
x, y, z = 5, None, 7

In [132]:
y or x

5

In [133]:
z or x

7