In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c, = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [23]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [24]:
values = 1, 2, 3, 4, 5

In [25]:
a, b, *rest = values

In [26]:
a, b

(1, 2)

In [27]:
rest

[3, 4, 5]

In [28]:
a, b, *_ = values

In [29]:
a = (1, 2, 2, 2, 3, 4, 2)

In [30]:
a.count(2)

4

In [31]:
a_list = [2, 3, 7, None]

In [32]:
tup = ('foo', 'bar', 'baz')

In [33]:
b_list = list(tup)

In [34]:
b_list

['foo', 'bar', 'baz']

In [35]:
b_list[1] = 'peekaboo'

In [36]:
b_list

['foo', 'peekaboo', 'baz']

In [37]:
gen = range(10)

In [38]:
gen

range(0, 10)

In [39]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
b_list.append('dwarf')

In [41]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [42]:
b_list.insert(1, 'red')

In [43]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [44]:
b_list.pop(2)

'peekaboo'

In [45]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [46]:
b_list.append('foo')

In [47]:
b_list.remove('foo')

In [48]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [49]:
'dwarf' in b_list

True

In [1]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [2]:
x = [4, None, 'foo']

In [3]:
x.extend([7, 8, (2, 3)])

In [4]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [5]:
a = [7, 2, 5, 1, 3]

In [6]:
a.sort()

In [7]:
a

[1, 2, 3, 5, 7]

In [11]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [12]:
b.sort(key=len)

In [13]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [14]:
import bisect

In [15]:
c = [1, 2, 2, 2, 3, 4, 7]

In [16]:
bisect.bisect(c, 2)

4

In [17]:
bisect.bisect(c, 5)

6

In [18]:
bisect.insort(c, 6)

In [19]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [20]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [21]:
seq[1:5]

[2, 3, 7, 5]

In [22]:
seq[3:4]

[7]

In [23]:
seq[3:4] = [6, 3]

In [24]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [25]:
seq[:5]

[7, 2, 3, 6, 3]

In [26]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [27]:
seq[-4:]

[5, 6, 0, 1]

In [28]:
seq[-6:-2]

[6, 3, 5, 6]

In [29]:
seq[::2]

[7, 3, 3, 6, 1]

In [30]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [1]:
some_list = ['foo', 'bar', 'baz']

In [2]:
mapping = dict((v, i) for i, v in enumerate(some_list))

In [3]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [4]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [5]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [6]:
sorted(set('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']

In [9]:
seq1 = ['foo', 'bar', 'baz']

In [10]:
seq2 = ['one', 'two', 'three']

In [11]:
zipped = zip(seq1, seq2)

In [12]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [13]:
seq3 = [False, True]

In [14]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [17]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [18]:
pitchers = [('Nolan', 'Ryan',), ('Roger', 'Clemens'), ('Shilling', 'Curt')]

In [19]:
first_names, last_names = zip(*pitchers)

In [20]:
first_names

('Nolan', 'Roger', 'Shilling')

In [21]:
last_names

('Ryan', 'Clemens', 'Curt')

In [22]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [23]:
empty_dict = {}

In [24]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [25]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [26]:
d1[7] = 'an integer'

In [27]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [28]:
d1['b']

[1, 2, 3, 4]

In [29]:
'b' in d1

True

In [30]:
d1[5] = 'some value'

In [31]:
d1['dummy'] = 'another value'

In [32]:
del d1[5]

In [34]:
ret = d1.pop('dummy')

In [35]:
ret

'another value'

In [36]:
list(d1.keys())

['a', 'b', 7]

In [37]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [38]:
d1.update({'b': 'foo', 'c' : 12})

In [39]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [40]:
mapping = {}

In [41]:
mapping = dict(zip(range(5), reversed(range(5))))

In [42]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}